body {
  /* color: #777777; */
  color: #000;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px
}

@media (min-width:768px) {
  .container {
    width: 740px
  }
}

@media (min-width:992px) {
  .container {
    width: 960px
  }
}

@media (min-width:1200px) {
  .container {
      width: 1200px
    }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 1400px;
  }
}
  
  ol, ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
  }
  
  select {
    display: block;
  }
  
  figure {
    margin: 0;
  }
  
  a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  iframe {
    border: 0;
  }
  
  a, a:focus, a:hover {
    text-decoration: none !important;
    outline: 0;
  }

  span {
    font-weight: 400;
  }
  
  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn.focus:active,
  .btn:active:focus,
  .btn:focus {
    text-decoration: none;
    outline: 0;
  }
  
  .card-panel {
    margin: 0;
    padding: 60px;
  }
  
  /**
    *  Typography
    *
    **/
  .btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1em;
    line-height: inherit;
  }
  
  .gray-bg {
    background: #f9f9ff;
  }
  
  h1, h2, h3,
  h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
  }
  
  .h1, .h2, .h3,
  .h4, .h5, .h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222222;
  }
  
  h1, .h1 {
    font-size: 36px;
  }
  
  h2, .h2 {
    font-size: 30px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }
  
  h4, .h4 {
    font-size: 18px;
  }
  
  h5, .h5 {
    font-size: 16px;
  }
  
  h6, .h6 {
    font-size: 14px;
    color: #222222;
  }
  
  td, th {
    border-radius: 0px;
  }
  
  /**
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    contenteditable attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that are clearfixed.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */
  .clear::before, .clear::after {
    content: " ";
    display: table;
  }
  
  .clear::after {
    clear: both;
  }
  
  .fz-11 {
    font-size: 11px;
  }
  
  .fz-12 {
    font-size: 12px;
  }
  
  .fz-13 {
    font-size: 13px;
  }
  
  .fz-14 {
    font-size: 14px;
  }
  
  .fz-15 {
    font-size: 15px;
  }
  
  .fz-16 {
    font-size: 16px;
  }
  
  .fz-18 {
    font-size: 18px;
  }

  .fz-20 {
    font-size: 20px;
  }

  .fz-22 {
    font-size: 22px;
  }
  
  
  .fz-30 {
    font-size: 30px;
  }
  
  .fz-48 {
    font-size: 48px !important;
  }
  
  .fw100 {
    font-weight: 100;
  }
  
  .fw300 {
    font-weight: 300;
  }
  
  .fw400 {
    font-weight: 400 !important;
  }
  
  .fw500 {
    font-weight: 500;
  }

  .fw600 {
    font-weight: 600;
  }
  
  .fw700 {
    font-weight: 700;
  }
  
  .fsi {
    font-style: italic;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-15 {
    margin-top: 15px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  .mt-100 {
    margin-top: 100px;
  }
  
  .mt-25 {
    margin-top: 25px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .mt-35 {
    margin-top: 35px;
  }
  
  .mt-40 {
    margin-top: 40px;
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  .mt-60 {
    margin-top: 60px;
  }
  
  .mt-70 {
    margin-top: 70px;
  }
  
  .mt-80 {
    margin-top: 80px;
  }
  
  .mt-100 {
    margin-top: 100px;
  }
  
  .mt-120 {
    margin-top: 120px;
  }
  
  .mt-150 {
    margin-top: 150px;
  }
  
  .ml-0 {
    margin-left: 0 !important;
  }
  
  .ml-5 {
    margin-left: 5px !important;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .ml-15 {
    margin-left: 15px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  .ml-30 {
    margin-left: 30px;
  }
  
  .ml-50 {
    margin-left: 50px;
  }
  
  .mr-0 {
    margin-right: 0 !important;
  }
  
  .mr-5 {
    margin-right: 5px !important;
  }
  
  .mr-15 {
    margin-right: 15px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-20 {
    margin-right: 20px;
  }
  
  .mr-30 {
    margin-right: 30px;
  }
  
  .mr-50 {
    margin-right: 50px;
  }
  
  .mb-0 {
    margin-bottom: 0px;
  }
  
  .mb-0-i {
    margin-bottom: 0px !important;
  }
  
  .mb-5 {
    margin-bottom: 5px;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .mb-15 {
    margin-bottom: 15px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .mb-25 {
    margin-bottom: 25px;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .mb-40 {
    margin-bottom: 40px;
  }
  
  .mb-50 {
    margin-bottom: 50px;
  }
  
  .mb-60 {
    margin-bottom: 60px;
  }
  
  .mb-70 {
    margin-bottom: 70px;
  }
  
  .mb-80 {
    margin-bottom: 80px;
  }
  
  .mb-90 {
    margin-bottom: 90px;
  }
  
  .mb-100 {
    margin-bottom: 100px;
  }
  
  .pt-0 {
    padding-top: 0px;
  }
  
  .pt-10 {
    padding-top: 10px;
  }
  
  .pt-15 {
    padding-top: 15px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-25 {
    padding-top: 25px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pt-50 {
    padding-top: 50px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .pt-70 {
    padding-top: 70px;
  }
  
  .pt-80 {
    padding-top: 80px;
  }
  
  .pt-90 {
    padding-top: 90px;
  }
  
  .pt-100 {
    padding-top: 100px;
  }
  
  .pt-120 {
    padding-top: 120px;
  }
  
  .pt-150 {
    padding-top: 150px;
  }
  
  .pt-170 {
    padding-top: 170px;
  }
  
  .pb-0 {
    padding-bottom: 0px;
  }
  
  .pb-10 {
    padding-bottom: 10px;
  }
  
  .pb-15 {
    padding-bottom: 15px;
  }
  
  .pb-20 {
    padding-bottom: 20px;
  }
  
  .pb-25 {
    padding-bottom: 25px;
  }
  
  .pb-30 {
    padding-bottom: 30px;
  }
  
  .pb-40 {
    padding-bottom: 40px;
  }
  
  .pb-50 {
    padding-bottom: 50px;
  }
  
  .pb-60 {
    padding-bottom: 60px;
  }
  
  .pb-70 {
    padding-bottom: 70px;
  }
  
  .pb-80 {
    padding-bottom: 80px;
  }
  
  .pb-90 {
    padding-bottom: 90px;
  }
  
  .pb-100 {
    padding-bottom: 100px;
  }
  
  .pb-120 {
    padding-bottom: 120px;
  }
  
  .pb-150 {
    padding-bottom: 150px;
  }
  
  .pr-30 {
    padding-right: 30px;
  }
  
  .pl-30 {
    padding-left: 30px;
  }
  
  .pl-90 {
    padding-left: 90px;
  }
  
  .p-40 {
    padding: 40px;
  }

  .p-20 {
    padding: 20px;
  }

  .p-0 {
    padding: 0px;
  }
  
  .float-left {
    float: left;
  }
  
  .float-right {
    float: right;
  }
  
  .text-italic {
    font-style: italic;
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-black {
    color: #000;
  }
  
  .transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .section-full {
    padding: 100px 0;
  }
  
  .section-half {
    padding: 75px 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-rigth {
    text-align: right;
  }
  
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  .flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  .flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  
  .flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }

  .flex-end {
    align-items: flex-end;
  }
  
  .flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  
  .flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  
  .flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  
  .space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  
  .space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  
  .flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .flex-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  .display-table {
    display: table;
  }
  
  .light {
    color: #fff;
  }
  
  .dark {
    color: #222;
  }
  
  .relative {
    position: relative;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .container.fullwidth {
    width: 100%;
  }
  
  .container.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .section-bg {
    background: #f9fafc;
  }
  
  @media (max-width: 767px) {
    .no-flex-xs {
      display: block !important;
    }
  }
  
  .row.no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  
  .sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
  }
  
  .text-heading {
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  b, sup, sub, u, del {
    color: #235ee7;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
  }



  /*  */
.ant-layout {
  display: flex;
}

.ant-layout.ant-layout-has-sider {
    height: 100%;
    width:100%
}

.ant-tabs-nav {
    background-color: #262626;
    width: 248px;
}

.ant-tabs-nav-wrap {
  padding: 30px 10px 10px 10px;
}

.ant-tabs.ant-tabs-left {
    height: auto;
    width: 248px;
}

.ant-tabs.ant-tabs-left .ant-tabs-nav {
    position: fixed;
    /* display: flex; */
    flex: none;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
}

.fr-tooltip {
    display: none;
}

.ant-tabs-tab {
    height: 46px;
    padding: 0 !important;
    align-items: center;
    justify-content:left;
    display: flex;
    margin-bottom: 10px;
}

.ant-tabs-tab.ant-tabs-tab-active {
    background: #434343;
    color: #fff;
    width: 100%;
    display: flex;
    border-radius: 4px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.ant-tabs-tab-btn {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.ant-tabs-tab a {
    font-size: 16px;
    color:#fff;

    display: flex;
    align-items: center;
    padding: 8px 20px !important;
}

.ant-tabs-tab:hover {
    background: #434343;
    color: #fff;
    width: 100%;
    display: flex;
    border-radius: 4px;
}

.ant-tabs-content {
    height: 100%;
}

/* header */
.ant-layout-header {
    background-color: #fff;
    padding: 0 30px !important;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
    z-index: 10;

    position: sticky;
    right: 0;
    top: 0;
    left: 0;
}

.ant-tabs-tabpane {
    padding-left: 0 !important;
}

.ant-breadcrumb {
    height: 100%;
    display: flex;
    align-items: center;
}

.ant-breadcrumb span {
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-weight: 500;
    color: #262626;
    display: block;
}

.ant-tabs-tab .anticon {
    margin-right: 5px !important;
}

.header-main {
    background-color: #FAFAFA;
    padding: 24px 20px;
}

.header-title_content {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.header-title_sub {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}

.underline_tab .form-control-search {
    height: 44px;
    outline:none;
}

.underline_tab .form-control-search:focus {
    outline:none;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
    border-color: #ddd;
}

.created_new_green {
    background: #1db954;
    border-color: #1db954;
    height:44px;
    width: 150px;
    font-size:16px;
    border-radius: 4px;
}

.table__full {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%), 0px 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border: 1px solid #E4E7EC;
    overflow: hidden;}

.table__full .card_header {
    padding: 20px 24px 19px;
    border-bottom: 1px solid #eceff5;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.cardCustomers_info .title_CustomersAll {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #101828;
}

.cardCustomers_info .title_CustomersCount {
    border: 1px solid #e8f8ee;
    background-color: #e8f8ee;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    color: #027A48;
    border-radius: 16px;
    margin-left: 8px;
    font-style: normal;
    padding: 2px 8px;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color:rgba(0, 0, 0, 0);
}

.table-action {
    display: flex;
    flex-direction: row;
    height: 32px;
}

.table-action--item {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.table-action--item:hover {
    background: #eceff5;
}

.d-flex {
  display: flex;
}

/*  */
.ant-tabs-right {
  width: calc(100% - 248px);
}

